html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    width: 80vw;
    /* 960px, 12 columns */
    margin: auto;
    color: white;
    font-family: Georgia, Bookman, sans-serif;
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 2.5em;
}



body {
    background-color: #c0c0c0;
}

nav {
    font-weight: bold;
    color: #6C3483;
    border: 2px solid #76D7C4;
    text-align: center;
    width: 12em;
    margin: 0 auto;
    font-size: 2em;


}

nav ul {
    display: none;
    list-style-type: none;
    margin: 0;

}

nav:hover ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}



nav ul li {
    border-top: 2px solid #76D7C4;

}

nav ul li a {
    text-decoration: none;
    color: #6C3483;
}

nav ul li:hover {
    background-color: #F6F1F7;
}

@media screen and (max-width:800px) and (min-width:601px){

nav{
    border:none;
}
nav ul {
  display: inline;
  display: flex;
  justify-content: center;
  padding: 5px;
  
}

nav ul li{
    border: 2px solid white;
    padding: 5px;
    margin: 10px;
    background-color:#E2DAE4;
}

nav:hover ul{
    display: fixed;
    display: flex;
    
    
}
span{
    display:none;
}
}

h1{
    color: #fff;
}

@media screen and (max-width:600px){

  h1{
     color: #fff; 
  }
  
  nav ul li:hover{
      background-color: #F6F1F7;
  }
  
  nav{
      border: 5px dashed #76D7C4;
  }
}

